@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: black;
}
